snippet bf "Bolds text" b
\textbf{$0}
endsnippet

snippet i "Italics text" b
\textit{$0}
endsnippet

snippet te "Text environment for math" b
\text{$0}
endsnippet

snippet - "Creates a new item" b
\item $0
endsnippet

snippet ttt "Programming text" b
\texttt{$0}
endsnippet

snippet subsub "Create a subsubsection" b
\subsubsection{$0}
endsnippet

snippet " "Latex quote" i
\`\`$1''
endsnippet
